


body {
  background-image: url('../images/catdog.jpg');
  // margin-left: 5px;
  // margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #b0c4b0;
}

.bottom {
  vertical-align: baseline;
}

td {
  border: 0px;
  text-align: right;
}

.jumbotron {
  background-color: #fcf7ed;
  position: fixed;
  max-width: 800px;
  // margin-left: 10%;
  bottom: 10px;
  // padding: 0 0 5;
    // h2{
    //     font-size: 1em;
    // }
    // p {
    //     font-size: 1.5em;
    //     // .btn {
    //     //     padding: 0.5em;
    //     // }
    // }
}

// .card {
//   background-color: #fcf7ed;
//   margin-top: 400px;
//   // margin-top: (winHeight / 2) + '40px';
//   padding: 30px;
//   margin-left: 80px;
//   margin-right: 80px;
//   min-height: 200px;
// }

.modal-header{
     background-color:#e8f2e8;
}
.modal-content {
    overflow:hidden;
}


#add-pet-button {
  float: right;
}

h1 {
  font-size: 40px;
  color: #000;
}

h3 {
  color: #000;
}

#welcome {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

#docupaws {
  font-size: 45px;
  color: #fff;
  text-align: center;
  margin-top: 70px;
}

#getstartedbutton {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-top: 18px;
}

.navbar-default {
  background-color: #aac7a1;
  border-color: #aac7a1;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #aac7a1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #aac7a1;
}
.navbar-default .navbar-toggle {
  border-color: #aac7a1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #aac7a1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #aac7a1;
  }
}

.pet-content {
  background-color: #f9f9f2;
  min-height: 600px;
  margin: 5px;
  border: 1px solid black;

}

.actions {
  width: 100%;
}

.announcement {
  font-size: 60px;
}

.contentSecondary {
  font-size: 20px;
  color: #001d61;
}

.itemName {
  font-size: 30px;
  color: #001d61;
}

#pets_list {
  font-size: 36px;
  text-align: center;
}

.row {
  overflow: hidden;
}

.viewAddPetButtons, .change-password-menu-item, .signout-menu-item {
  display: none;
}

#create-pet {
  display: none;
}

// add these to functions so they appear when appropriate
#signin-error, #signup-error, #changepw-error {
  display: none;
}

#update-pet {
  display:none;
}

#signup, #signin {
  display: block;
}

.tdcenter {
  padding: 5px 20px;
  text-align: center;
}

.tdleft {
  text-align: left;
}

hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: '\002665';

	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}

.form-control {
  max-width: 500px;
}

.well {
  background-color: #fff;
  display: none;
  margin-top: 20px;
  min-height: 800px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f4f2e1, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f4f2e1, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f4f2e1, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f4f2e1, #fff); /* Standard syntax */
  // background-image: url('../images/light-faded-background.jpg');
}

// .form-control {
//   position: absolute;
// }

.col-md-12 {
  // background-image: url('../images/catdog.jpg');
}
