


body {
  background-image: url('../images/catdog.jpg');
  // margin-left: 5px;
  // margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #b0c4b0;
}

.bottom {
  vertical-align: baseline;
}

td {
  border: 0px;
  text-align: right;
}

.jumbotron {
  background-color: #fcf7ed;
  position: fixed;
  max-width: 800px;
  // margin-left: 10%;
  bottom: 10px;
  // padding: 0 0 5;
    // h2{
    //     font-size: 1em;
    // }
    // p {
    //     font-size: 1.5em;
    //     // .btn {
    //     //     padding: 0.5em;
    //     // }
    // }
}

// .card {
//   background-color: #fcf7ed;
//   margin-top: 400px;
//   // margin-top: (winHeight / 2) + '40px';
//   padding: 30px;
//   margin-left: 80px;
//   margin-right: 80px;
//   min-height: 200px;
// }

.modal-header{
     background-color:#e8f2e8;
}
.modal-content {
    overflow:hidden;
}

.banner {
  color: #fff;
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  // line-height: 160px;
  font-weight: normal;
  // margin-bottom: 0px;
  // margin-top: 20px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  // width: 100%;
  // background-color: blue;
}


#add-pet-button {
  float: right;
  margin-right: 2%;
}

h1 {
  font-size: 40px;
  color: #000;
}

h3 {
  color: #000;
}

#welcome {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

#docupaws {
  font-size: 45px;
  color: #fff;
  text-align: center;
  margin-top: 70px;
}

#getstartedbutton {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-top: 18px;
}

.navbar-default {
  background-color: #aac7a1;
  border-color: #aac7a1;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #aac7a1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #aac7a1;
}
.navbar-default .navbar-toggle {
  border-color: #aac7a1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #aac7a1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #aac7a1;
  }
}

.pet-content {
  background-color: #f9f9f2;
  min-height: 600px;
  margin: 5px;
  border: 1px solid black;

}

.actions {
  width: 100%;
}

.announcement {
  font-size: 60px;
}

.contentSecondary {
  font-size: 16px;
  // color: #001d61;
}

.itemName {
  font-size: 24px;
  color: #337732;
}

#pets_list {
  font-size: 36px;
  text-align: center;
}

.row {
  overflow: hidden;

}

.viewAddPetButtons, .change-password-menu-item, .signout-menu-item {
  display: none;
}

#create-pet {
  display: none;
}

.viewAllPets {
  margin-left: 2%;
  margin-right: 2%;
}

// .printpage {
//   font-size: 16px;
//   color: #fff;
//   float: right;
//   padding: 1px;
// }

// add these to functions so they appear when appropriate
#signin-error, #signup-error, #changepw-error {
  display: none;
}

#update-pet {
  display:none;
}

#signup, #signin {
  display: block;
}

.tdcenter {
  padding: 5px 20px;
  text-align: center;
}

.tdleft {
  text-align: left;
}

hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: '\002665';

	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}

.form-control {
  max-width: 500px;
}

.well {
  background-color: #376347;
  display: none;
  margin-top: 10px;
  min-height: 800px;
  // background: red; /* For browsers that do not support gradients */
  // background: -webkit-linear-gradient(#f4f2e1, #fff); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(#f4f2e1, #fff); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(#f4f2e1, #fff); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(#f4f2e1, #fff); /* Standard syntax */
  // // background-image: url('../images/light-faded-background.jpg');
}

// .form-control {
//   position: absolute;
// }

.col-md-12 {
  // background-image: url('../images/catdog.jpg');
}

#about-modal {
  font-size: 20px;
}


@media only screen and (max-width: 479px) {
   .mobile-hide{ display: none !important; }
}

.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(https://unsplash.com/collections/201009/pets?photo=iYQC9xWMvw4) repeat top left;
}
//
// //
//
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
}
//
// //
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 15s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 140px;
    padding: 0;
    line-height: 140px;
    color: #fff;
}
//
// //
// .cb-slideshow li:nth-child(1) span {
//     background-image: url('https://unsplash.com/collections/201009/pets?photo=iYQC9xWMvw4')
// }
// .cb-slideshow li:nth-child(2) span {
//     background-image: url('../images/3puppies.jpg');
//     animation-delay: 6s;
// }
// .cb-slideshow li:nth-child(3) span {
//     background-image: url(../images/doggrass.jpg);
//     animation-delay: 12s;
// }
// .cb-slideshow li:nth-child(4) span {
//     background-image: url(../images/mainecoon.jpg);
//     animation-delay: 18s;
// }
// .cb-slideshow li:nth-child(5) span {
//     background-image: url(../images/orangekitty.jpg);
//     animation-delay: 24s;
// }
// .cb-slideshow li:nth-child(6) span {
//     background-image: url(../images/sadkitty.jpg);
//     animation-delay: 30s;
// }
//
.cb-slideshow li:nth-child(2) div {
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    animation-delay: 30s;
}
//
// //
// @keyframes imageAnimation {
//     0% { opacity: 0; animation-timing-function: ease-in; }
//     8% { opacity: 1; animation-timing-function: ease-out; }
//     17% { opacity: 1 }
//     25% { opacity: 0 }
//     100% { opacity: 0 }
// }
//
// //
@keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}


//
// //
// .no-cssanimations .cb-slideshow li span{
// 	opacity: 1;
// }
//
// //
@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 { font-size: 140px }
}
// @media screen and (max-width: 600px) {
//     .cb-slideshow li div h3 { font-size: 80px }
// }
